body {
  line-height: 2;
}

.contact-heading {
  display: block;
  margin: 0;
  margin: 1%;
  text-align: center;
}

.contact-container {
  padding: 0% 20%;
}

.profile-pic {
  display: none;
}

.icons-section {
  margin: 0.5% 0;
  text-align: center;
  width: 100%;
  font-size: 1.25rem;
  display: inline-block;
}

.contact-icon {
  display: inline-block;
}

.contact-info {
  margin-right: 2%;
  display: inline-block;
  color: #3c3c3b;

}

.contact-info-text {
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  display: inline-block;
  padding-left: 5px;
  text-decoration: underline;
}

.contact-info:hover {
  text-decoration: none;
  color: #737370;
}

.contact-info:active {
  position: relative;
  top: 1px;
}

.contact-intro {
  margin-top: 2.5%;
  text-align: justify;
}

#maps {
  margin: 5% 0;
  width: 100%;
  height: 400px;
}

/*---------------------------------FOOTER-----------------------------------*/
footer {
  position: relative;
  background-color: #3c3c3b;
  color: white;
  text-align: center;
  padding: 2.5% 0;
}

.footer-link {
  color: white;
  padding: 10px;
  margin-top: 10px;
  font-size: x-large;
}

.footer-link:hover {
  color: grey;
}

.copyright {
  font-size: 0.75rem;
  padding: 10px;
}

/*--------------------------MEDDIA QUERIES------------------------*/

/*---------- EXTRA LARGE DEVICES-----*/
@media (min-width: 1700px) {

}

/*----------LARGE DEVICES--------*/
@media (max-width: 1300px) {


}


@media (max-width: 925px) {
  .contact-container {
    padding: 0% 12.5%;
  }

  /*--------------------------MEDIUM DEVICES------------------------*/

  @media (max-width: 767px) {
    .linkedin {
      display: none !important;
  }

  /*--------------------------SMALL DEVICES------------------------*/
  @media (max-width: 600px) {

    .contact-heading {
      margin-top: 5%;
    }

    .icons-section {
      margin: 2% 0;
    }

    .contact-container {
      padding: 0% 10%;
    }

    #maps {
      height: 300px;
    }
  }
