html body {
  height: 100%;
}

.portfolio-heading {
  display: block;
  margin: 0;
  margin-top: 1%;
  text-align: center;
}

  /*---------------------------------BUTTONS------------------------------------*/


.buttons-div {
  margin: 2.5% auto;
  text-align: center;
}

.btn {
margin: 0 1%;
}

#buttons-section2 {
  display: none;
}


.btn:hover {
  background-color: #3c3c3b;
  transition: 0.5s;
}

.btn:active{
  position: relative;
  top: 1px;
  box-shadow: none !important;
}

.btn:focus{
  box-shadow: none;
}

.default-switch {
  background-color: #3c3c3b !important;
}

.selected {
  background-color: #3c3c3b;
}

/*---------------------------------SWITCHES------------------------------------*/
.display-none {
  display: none !important;
}

.display-block {
  display: block !important;
  z-index: -1;
}

  /*---------------------------------DEVELOPMENT PAGE------------------------------------*/

    #development {
      z-index: 0 !important;
      position: relative !important;
    }

    .development-container {
    margin: 5% 0;
    padding: 0 20%;
    }

    .development-box{
      text-align: left;
      margin: 1% auto;
      padding: 0 2.5%;
    }


    .development_img {
      margin-bottom: 3%;
      cursor: pointer;
      transition: transform 2s;
    }

    .development_img:hover {
      position: relative;
      top: 1.75px;
      transition: 2s;
    }


  /*---------------------------------MODAL------------------------------------*/


    /* The Modal (background) */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  align-items: center;
  text-align: center;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  padding-top: 5%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 400px;
  max-height: 400px;
  border: none;
  border-radius: 0 !important;
}

/* TALL IMAGES CSS - TOGGLE IN JQUERY */
.heightImage {
  max-width: 250px;
  max-height: 600px;
  border: none;
  border-radius: 0 !important;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close-x {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-x:hover,
.close-x:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

  /* ---------------------Video Lightbox------------------------- */

  .vidLightbox {
    display: none;
    position: fixed; /* Stay in place */
    align-items: center;
    text-align: center;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    padding-top: 5%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  .lightbox-video {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 400px;
    border: none;
    border-radius: 0 !important;
  }

  /* Zooming in to the v */
  .lightbox-video {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  #carouselExampleSlidesOnly {
      margin: 0 auto;
  }

  /* The Close Button */
  .close-x3 {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close-x3:hover,
  .close-x3:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
  }


/* ---------------------myLightbox------------------------- */

.lightbox {
  display: none;
  position: fixed; /* Stay in place */
  align-items: center;
  text-align: center;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  padding-top: 2.5%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.lightbox-image {
  margin: auto;
  display: block;
  max-width: 400px;
  border: none;
  border-radius: 0 !important;
}

/* Zooming in to the image */
 .lightbox-image {
  /* animation-name: zoom; */
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

#carouselExampleControls {
    margin: 0 auto;
}

.carousel-control-next {
position: fixed;
right: 25%;
height: 100%;
width: 5%;
}

.carousel-control-prev {
position: fixed;
left: 25%;
height: 100%;
width: 5%;
}

/* The Close Button */
.close-x2 {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-x:hover,
.close-x:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}


  /*------------------------POP UP------------------------------*/

      .bg-popup {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
      }

      .popup-content {
        width: 400px;
        height: 350px;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        padding: 30px;
        position: relative;
      }

      /* Zooming into the popup */
       .popup-content {
        animation-name: zoom;
        animation-duration: 0.6s;
      }

      @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
      }

      .popup-content h3 {
        padding: 2% 0;
      }

      .img-popup {
        width: 200px;
        height: 175px;
        margin-top: 25px;
      }

      .close-button {
        position: absolute;
        top: -5px;
        right: 5%;
        transform: rotate(45deg);
        cursor: pointer;
        font-size: 3rem;
      }

    .motive-buttons {
      padding: 0% 0;
    }

    .btn-dark {
      width: 25%;
      background-color:#3c3c3b;
      border: none;
    }

    .btn-dark:hover {
      background-color: grey;
      border: none;
    }

      /*---------------------------------MODAL IMG-----------------------------------*/

    #myImg {
      transition: 0.3s;
    }


      /*---------------------------------DESIGN PAGE------------------------------------*/


      #design {
        display: none;
      }

      /*---------------------------------EDITING PAGE------------------------------------*/


      #editing {
        display: none;
      }

      /*---------------------------------ANIMATION PAGE------------------------------------*/


      #animation {
        display: none;
      }

      /*---------------------------------FOOTER-----------------------------------*/

      footer {
        position: relative;
        background-color: #3c3c3b;
        color: white;
        text-align: center;
        padding: 2.5% 0;
      }

      .footer-link {
        color: white;
        padding: 10px;
        margin-top: 10px;
        font-size: x-large;
      }

      .footer-link:hover {
        color: grey;
      }

      .copyright {
      font-size: 0.75rem;
      padding: 10px;
      }



  /*--------------------------MEDDIA QUERIES------------------------*/


  /*---------- EXTRA LARGE DEVICES-----*/

      @media (min-width: 1700px)  {
        .development-box {
          text-align: center;
        }

        /* Modal Content (Image) */
        .modal-content {
          margin: auto;
          display: block;
          max-width: 600px;
          max-height: 600px;
          border: none;
          border-radius: 0 !important;
        }

        /* TALL IMAGES CSS - TOGGLE IN JQUERY */
        .heightImage {
          max-width: 350px;
          max-height: 950px;
          border: none;
          border-radius: 0 !important;
        }

        .lightbox-video {
          max-width: 100%;
          max-height: 500px;
        }

        .lightbox-image {
          max-width: 550px;
        }

        .carousel-control-next {
        right: 25%;
        width: 5%;
        }

        .carousel-control-prev {
        left: 25%;
        width: 5%;
        }

      }


  /*----------LARGE DEVICES--------*/

      @media (max-width: 1300px)  {
        .development-container {
        padding: 0 17.5%;
        }
      }


      @media (max-width: 1150px)  {
        .development-container {
        padding: 0 12.5%;
        }

      }

      /*--------BREAKS INTO 2 PER ROW ----------------------*/

      @media (max-width: 991px)  {
        .development-box {
          text-align: center;
        }

        .development-description {
          width: 85%;
          margin: auto;
          margin-bottom: 5%;
        }

        /* CONTROLS */
        .carousel-control-next {
        right: 15%;
        }

        .carousel-control-prev {
        left: 15%;
        }



  /*--------------------------MEDIUM DEVICES------------------------*/

  /*--------BREAKS INTO 1 PER ROW ----------------------*/

    @media (max-width: 767px)  {

      #development {
        z-index: -1;
        position: relative;
      }

      .development-container {
      margin: 5% 0;
      padding: 0 22.5%;
      }

      .development-box{
        text-align: center;
        margin: 1% auto;
        padding: 0 2.5%;
      }

      .development-description {
        width: 85%;
        margin: auto;
        margin-bottom: 5%;
      }


      .development_img {
        margin-bottom: 2%;
      }

      /* CONTROLS */
      .carousel-control-next {
      right: 10%;
      }

      .carousel-control-prev {
      left: 10%;
      }
    }

    /*--------------------------SMALL DEVICES------------------------*/

    @media (max-width: 600px)  {

      .portfolio-heading {
        margin-top: 5%;
      }

      #buttons-section {
        display: none;
      }

      #buttons-section2 {
        display: block;
        position: relative;
      }

      .buttons-div2 {
        margin: 7.5% auto;
        text-align: center;
      }

      .buttons-left {
        display: block;
        padding-bottom: 2.5%;
      }

      .buttons-right {
       display: block;
      }

      .btn {
        margin: 0 1% !important;
        width: 35%;
        font-size: 0.9rem;
      }

      /* CONTROLS */
      .carousel-control-next {
      right: 2.5%;
      }

      .carousel-control-prev {
      left: 2.5%;
      }
